.notiContainer{
    /* display:grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap:40px;
    padding:40px;
    justify-content: center; */
    /* display: flex; */
    
}

.listContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 30px;
    margin-bottom: 20px;
}